/* PJESA 1 : TOP BAR , HEADER , IMAGE SWAP */
body
{
    margin:0px;
    

}

/*-------------TOP BAR FILLON KETU -----------*/
.top-bar
{
    background-color: #f3f3f3;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #e6e6e4;
    display:block;
  
  
}
#rectangle
{
    display: block;
    background-color: #333333;
    width: 100%;
    height: 8px;
      
}
@font-face
{
    src:url(Fonts/Georgia Regular.ttf);
    font-family:Georgia Regular;
    src:url(Fonts/georgia.ttf);
    font-family:georgia;
}

#contact
{
    color: #666666;
    display: inline-block;
    margin-left: 194px;
    height: 46px;
    font-size: 13px;
    margin-top: 3px;
    font-family:Georgia Regular;
  
}

.top-bar form
{
     
    align-items: center;
    height:45px;
    margin-right: 165px;
    
    
}
.search-bar
{  
    float: right;
    height: 45px;
     
       
}
.top-bar form input
{    
    position: relative;
    background: #4b4b4b;
    border-radius: 15px;
    height: 25px;
    width:210px;
    text-decoration: none;
    border: none;
    padding-left: 10px;
    padding-right: 30px;
    top: 10px;
    color: #f3f3f3;
  
   



}
.top-bar form img
{   
    position: relative;
    top: 15px;
    right: 30px;
    cursor: pointer;
    
 
}
/*--------------- TOP BAR MBARON KETU -------------*/
/*-------------- HEADER FILLON KETU ------------*/
header 
{   
     
    height: 90px;
    width: 100%;
    background-color: #f3f6f4; 
  
}
header .logo
{
   
    height: 88px;
    display: inline-block;
    margin-left: 194px;
    
}
header h1
{ 
   
    margin: 0px;
    padding-top:10px;
    color: #505050;
    font-size: 36px;
    font-family:georgia;
    font-style:italic;
    
}

header h4

{
    margin: 0px;
    color: #666666;
    font-size: 13px;
    padding-top:5px;
    font-family:Georgia;

}




/* PJESA 2 : SHOUT , CONTENT */




/* PJESA 3 : FOOTER , COPYRIGHT */

footer {
  
    margin: 0px;
    padding: 0px;
    background-color: #232323;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer .bllok {

    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

footer .bllok .FROM_THE_BLOG {

  font-size: 16px;
  font-family: Georgia-Regular;
  color: rgb(92, 92, 92);
  margin-bottom: 30px;
  margin-top: 25px;
}

footer .bllok .Blog_Post_Title {

  font-size: 15px;
  font-family: Georgia-Regular;
  color: rgb(152, 152, 152);
  line-height: 1.2;
  margin: 0px;
}

footer .bllok .Posted_by_Admin{

  margin-top: 2px; 
  font-size: 13px;
  font-family: Georgia-Regular;
  color: rgb(117, 117, 117);
  line-height: 1.2;
}

@font-face {
  
    font-family: Georgia-Regular;
    src: url(../Fonts/Georgia-Regular.ttf);
}

footer .bllok .Vestibul{

  font-size: 12px;
  font-family: Georgia-Regular;
  color: rgb(152, 152, 152);
  line-height: 1.6;
  width: 193px;
  margin: 0px;
}

footer .bllok .Read {

    color: #1194b2;
    margin-top: 1px;
    float: right;
    font-size: 14px;
    cursor: pointer; 
}

